html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: Roboto;
	margin: 0 0 2em;
	padding: 1em;
}

main {
	text-align: center;
}

main a {
	color: #ffffff;
}

main a::link {
	color: #ffffff;
}

#nav {
	background-color: #ff3333;
	width: 100%;
	text-align: center;
}

#nav a {
	color: #ffffff;
}

#nav a::link {
	color: #ffffff;
}

#nav td {
	border: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	text-align: center;
}

#projects {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}

th,
td {
	border: .09em solid;
}

menu {
	background-color: #000000;
	padding-bottom: 3em;
	width: 100%;
}

#navbottom {
	width: 50%;
	text-align: center;
}

#navbottom a {
	color: #ffffff;
}

#navbottom a::link {
	color: #ffffff;
}

#navbottom td {
	border: none;
}

footer {
	position: absolute;
	left: 0em;
	bottom: 0em;
	width: 100%;
	height: 3em;
	overflow: hidden;
}
